{% extends 'mainapp/base.html' %}
{% load static %}
{#    <div class="basket">#}
{#        <h1>Ваши книги</h1>#}
{#        <ul>#}
{#            {% for item in object_list %}#}
{#                <li class="basket-item-{{ item.pk }}">#}
{#                    {{ item.to_html|safe }}#}
{#                    <a href="{% url 'basket:remove' item.pk %}" class="btn btn-dark">удалить</a>#}
{#                </li>#}
{#            {% endfor %}#}
{#        </ul>#}
{#    </div>#}


{% block js %}
    <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/training.css' %}">
{% endblock %}
{% block content %}
    <div class="page-content bg-white">
        <!-- Section Banner -->
        <!-- dlab-bnr-inr dlab-bnr-inr-md bnr-style1 -->
        <div id="dezzParticles" class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
             style="background-image:url(/static/images/main-slider/intro-3.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Избранные тренировки</h1>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->
    {% if object_list %}
        <div class="content-block" id="page_content">
            <!-- Our Services -->


            <div class="section-full bg-gray-1 content-inner about-us">
                <div class="container-fluid">
                    <div class="clearfix container-432">
                        <ul id="masonry" class="dlab-gallery-listing gallery-grid-4 gallery row">
                            {% for item in object_list %}

                                <li class="near-by-you design card-container col-lg-3 col-md-6 col-sm-6 basket-item-{{ item.pk }} card-tren-rov">
                                    <div class="listing-bx featured-star-right m-b30 style-2 ">
                                        <div class="listing-media">
                                            {% if item.training.img %}
                                                <img src="{{ item.training.img.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'images/main-slider/intro-2.png' %}" alt="">
                                            {% endif %}
                                        </div>
                                        <div class="listing-info">
                                            <h3 class="title"><a
                                                    href="{% url 'mainapp:training_page' item.training.id %}">{{ item.training.name }}</a><br>
                                                <a href="{% url 'basketapp:remove' item.pk %}" class="btn">удалить</a>
                                            </h3>
                                            <ul class="place-info">
                                                <li class="open"><i class="fa fa-check"></i>Количество
                                                    недель: {{ item.training.cycle_duration }}</li>
                                                <li class="open"><i class="fa fa-check"></i>Тренировочных дней в
                                                    неделю: {{ item.training.training_sessions_per_week }}</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>


            <!-- Our Services -->

        </div>
    {% else %}
        <div class="content-block" id="page_content">
            <div class="section-full bg-gray-1 content-inner about-us">
                <div class="container-fluid">
                    <div class="clearfix container">
                        <h1 class="pusto-korzina">Упс, но тут ничего нет скорей спеши в раздел "тренировки" что-бы добавить сюда свои любимые тренировки </h1>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

        <!-- contact area END -->
    </div>
{% endblock %}