*{
  box-sizing: border-box;
}

.container-432 {
  display: table;
  width: 100%;
  table-layout: fixed;
  height: 50px;
}
.container-432 > div.listing-info {
  display: table-cell;
  vertical-align: top;
  padding: 15px;
  background: #ccc;
}