{% extends 'mainapp/base.html' %}

{% block content %}
<!-- Content -->
{#    <div class="page-content bg-white">#}
        <!-- Section Banner -->
		<div class="dlab-bnr-inr dlab-bnr-inr-md bnr-style1" style="background-image:url(/static/images/main-slider/intro.jpg); background-size: cover;" id="dezParticles">
            <div class="container">
                <div class="dlab-bnr-inr-entry align-m dlab-home">
					<div class="bnr-content">
						<h2>тренировки в домашних условиях</h2>
						<!-- <p>Тренировки в домашних условиях</p> -->
					</div>
					<div class="navbar scroll-button">
						<a href="#page_content" class="site-button button-style1 scroll"><i class="la la-long-arrow-down"></i></a>
					</div>
				</div>
            </div>
        </div>
		<!-- Section Banner END -->
		<div class="content-block" id="page_content"></div>
		<!-- contact area END -->
{#    </div>#}
    <!-- Content END-->
{% endblock %}