{% extends 'mainapp/base.html' %}

{% block content %}
<div class="dlab-bnr-inr dlab-bnr-inr-md bnr-style1" style="background-image:url(/static/images/main-slider/intro-2.png); background-size: cover;" id="dezParticles">
    <div class="container container-2">
        <div class="dlab-bnr-inr-entry align-m dlab-home">
            <div class="bnr-content">
                <div class="tab" role="tabpanel">
                    <h1 class="text-white">Поддержка</h1>

                    <!-- Nav tabs -->
                    <div class="mb-4 mb-md-0">
                        <div class="clearfix contact-form  m-b30">
                            <div class="dzFormMsg"></div>
                            <form method="post" class="dzForm">
                                <input type="hidden" value="Contact" name="dzToDo" >
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form.name }}
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form.email }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            {% csrf_token %}
                                            {{ form.text }}
                                        </div>
                                    </div>
                                    <div class="col-md-12">
                                        <button name="submit" type="submit" value="Submit" class="site-button button-lg radius-xl">ОТПРАВИТЬ</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}