{% extends 'mainapp/base.html' %}
{% load static %}


{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/training.css' %}">
{% endblock %}
{% block content %}
    <div class="page-content bg-white">
        <!-- Section Banner -->
        <!-- dlab-bnr-inr dlab-bnr-inr-md bnr-style1 -->
        <div id="dezzParticles" class="dlab-bnr-inr dlab-bnr-inr-sm overlay-black-middle"
             style="background-image:url(/static/images/main-slider/intro-3.jpg);">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <h1 class="text-white">Тренировки</h1>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->
        <div class="content-block" id="page_content">
            <!-- Our Services -->


            <div class="section-full bg-gray-1 content-inner about-us">
                {#                <div class="container-fluid">#}
                {#					<div class="clearfix ">#}
                <div class="container-45">
                    {% for item in traininglist %}

                        <div class="card">
                            <div>
                                {% if item.img %}
                                    <img src="{{ item.img.url }}" alt="{{ item.name }}">
                                {% else %}
                                    <img src="{% static 'images/main-slider/intro-2.png' %}" alt="{{ item.name }}">
                                {% endif %}
                            </div>
                            <div class="card-body">
                                {#                                  <span class="tag tag-teal">Technology</span>#}
                                <h4>
                                    <a href="{% url 'mainapp:training_page' item.pk %}">{{ item.name }}</a>
                                </h4>
                                <ul class="place-info">
                                    <li class="open"><i class="fa fa-check"></i>Количество
                                        недель: {{ item.cycle_duration }}</li>
                                    <li class="open"><i class="fa fa-check"></i>Тренировочных дней в
                                        неделю: {{ item.training_sessions_per_week }}</li>
                                </ul>
                                {#                                  <p>#}
                                {#                                    Количество недель: {{ item.cycle_duration }}#}
                                {#                                  </p>#}
                                {#                                    <p>#}
                                {#                                        Тренировочных дней в неделю: {{ item.training_sessions_per_week }}#}
                                {#                                    </p>#}
                                {#                                  <div class="user">#}
                                {#                                    <img src="https://yt3.ggpht.com/a/AGF-l7-0J1G0Ue0mcZMw-99kMeVuBmRxiPjyvIYONg=s900-c-k-c0xffffffff-no-rj-mo" alt="user" />#}
                                {#                                    <div class="user-info">#}
                                {#                                      <h5>July Dec</h5>#}
                                {#                                      <small>2h ago</small>#}
                                {#                                    </div>#}
                                {#                                  </div>#}
                            </div>
                        </div>

                    {% endfor %}
                </div>


                {#					</div>#}
                {#				</div>#}
            </div>


            <!-- Our Services -->

        </div>

        <!-- contact area END -->
    </div>
{% endblock %}