{% extends 'mainapp/base.html' %}
{% load static %}


{% block js %}
    <script src="{% static 'js/basket.js' %}"></script>
{% endblock %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/training.css' %}">
{% endblock %}
{% block content %}
    <div class="page-content bg-white">
        <!-- Section Banner -->
        <!-- overlay-black-middle -->
        <div class="dlab-bnr-inr dlab-bnr-inr-sm "
             style="background-image:url(/static/images/main-slider/intro-2.png); ">
            <div class="container">
                <div class="dlab-bnr-inr-entry">
                    <div class="wonder-bx text-white">
                        <!-- <div class="wonder-theme">1</div> -->
                        <div class="wonder-title">
                            <h2>{{ trainingpage.name }} <i
                                    class="fa font-20 align-self-center fa-check-circle"></i></h2>
                            <!-- <p>Winter is gone very soon</p>	 -->
                        </div>
                        <div class="wonder-price">
                            <!-- <p>Price range</p>
                            <h3 class="m-b0">$50</h3> -->
                        </div>
                        <div class="wonder-btn">


                            <a href="{% url 'basketapp:add' trainingpage.id %}"
                               class="site-button button-lg radius-no text-uppercase js-sctipts-korsina">Добавить
                                в избранное</a>
                        </div>
                    </div>
                    <div class="m-b50">
                        <!-- <a href="javascript:void(0);"><img src="images/listing/default/thum1.jpg" alt=""></a>  -->
                        <div class="info-card info-card-2 ">
                            <div class="item">
                                <div class="info-head info-head-2 info-head-2-3">
                                    Цель
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.purpose }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="info-head info-head-2">
                                    Длительность цикла
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.cycle_duration }} недели
                                </div>
                            </div>
                            <div class="item">
                                <div class="info-head info-head-2">
                                    Время тренировки
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.training_time_ot }}-{{ trainingpage.training_time_do }} минут
                                </div>
                            </div>
                            <div class="item">
                                <div class="info-head info-head-2">
                                    Место тренировок
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.training_place }}
                                </div>
                            </div>
                            <div class="item">
                                <div class="info-head info-head-2">
                                    Тренировок в неделю
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.training_sessions_per_week }} дня
                                </div>
                            </div>
                            <div class="item">
                                <div class="info-head info-head-2">
                                    Уровень подготовки
                                </div>
                                <div class="info-text info-text-2">
                                    {{ trainingpage.level_training }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Section Banner END -->
        <div class="content-block" id="page_content">

            <!-- contact area -->
            <div class="section-full content-inner">
                <div class="container">

                    <div class="row">
                        <!-- Left part start -->


                        <!-- col-xl-8 col-lg-7 col-md-12 p-b30 -->
                        <div class="col-md-12 p-b30">
                            <div class="section-head text-black mb-3">
                                <h2 class="box-title">О программе</h2>
                                {{ trainingpage.text|safe }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- contact area END -->

    <!-- Class Time Section Begin -->
    <section class="classtime-section class-time-table spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-title">
                        <h2>Тренировочный план</h2>
                    </div>
                </div>
            </div>
            <div class="classtime-table">
                <table>
                    <thead>
                    <tr>
                        <th></th>
                        <th>Понедельник</th>
                        <th>Вторник</th>
                        <th>Среда</th>
                        <th>Четверг</th>
                        <th>Пятница</th>
                        <th>Суббота</th>
                        <th>Воскресенье</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for i in weeks %}

                        <tr>
                            <td class="workout-time">{{ i.week }} неделя</td>

                            {% for item in day %}

                                {% if i == item.weeks %}
                                    {#                        {% if item == cat %}#}
                                    {% if item.category == 'MO' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                        {#                            <td>День отдыха</td>#}
                                    {% elif  item.category == 'TU' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                    {% elif  item.category == 'WE' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                    {% elif  item.category == 'TH' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                    {% elif  item.category == 'FR' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                    {% elif  item.category == 'SA' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}
                                    {% elif  item.category == 'SU' %}
                                        {% if item.day == 0 %}
                                            <td>День отдыха</td>
                                        {% else %}
                                            <td class="hover-bg ts-item">
                                                <a href="#{{ item.day }}">{{ item.day }} день</a>
                                            </td>
                                        {% endif %}

                                    {% else %}
                                        <td>
                                            День выходной
                                        </td>
                                    {% endif %}



                                {% endif %}

                            {% endfor %}
                        </tr>

                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
    <!-- Class Time Section End -->


    <div class="section-full bg-white content-inner owl-out">
        <div class="container">
            {% for item in day %}
                {% if item.day != 0 %}
                    <div class="card" id="{{ item.day }}">
                        <div class="card-header">
                            {{ item.weeks }} неделя
                            / {{ item.day }}
                        </div>
                    </div>


                    <div class="card">
                        <div class="card-body">
                            <div class="card-card-2">
                                <div class="card-video-2">
                                    <div id="player{{ item.id }}" style="width: 350px;"></div>
                                    <script>
                                        var player = new Playerjs({
                                            id: "player{{ item.id }}",
                                            file: "file/video.mp4",
                                            poster: "{% static 'images/main-slider/intro-2.png' %}",
                                        });
                                    </script>
                                </div>

                                <div class="card-text-2">
                                    <h4>Разминка перед тренировкой</h4>
                                    <p class="card-text-2-p">Для разогрева организма и подготовке к тренировке.
                                        выполнять не
                                        менее 5 минут.</p>
                                </div>
                            </div>
                        </div>
                    </div>


                    {% for i in exercises %}

                        {% if item == i.day %}
                            <div class="card card-2">
                                <div class="card-body">
                                    <div class="card-card-2">
                                        <div class="card-video-2">
                                            <div id="player_{{ i.id }}" style="width: 350px;"></div>
                                            <script>
                                                var player = new Playerjs({
                                                    id: "player_{{ i.id }}",
                                                    file: "{{ i.video.url }}",
                                                    {% if i.img %}
                                                        poster: "{{ i.img.url }}",
                                                    {% else %}
                                                        poster: "{% static 'images/main-slider/intro-2.png' %}",
                                                    {% endif %}
                                                });
                                            </script>
                                        </div>
                                        <div class="card-text-2">
                                            <h4>{{ i.name }}</h4>
                                            <div class="info-card">
                                                <div class="item">
                                                    <div class="info-head">
                                                        повторений
                                                    </div>
                                                    <div class="info-text">
                                                        {{ i.repetitions }}
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="info-head">
                                                        подходов
                                                    </div>
                                                    <div class="info-text">
                                                        {{ i.approaches }}
                                                    </div>
                                                </div>
                                                <div class="item">
                                                    <div class="info-head">
                                                        отдых, мин.
                                                    </div>
                                                    <div class="info-text">
                                                        {{ i.rest }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
{% endblock %}